{{ partial "header.html" . }}
<div>
  <section class="success">
    <div class="container" style="margin-top: 90px; margin-bottom: 50px">
      <div class="row">
        <div class="col-sm-9">
          <h1 style="line-height: 1.5">OSS (Open Source Software)</h1>
          <br/>
          <h3 style="line-height: 1.5">The open source model is ideal for writing, distributing, and consuming software.  Not all 
          software can be open source, but we open source what we can.</h3>
        </div>
        <div class="col-sm-3">
          <a href="https://github.com/Tychobra" target="_blank">
            <i class="fa fa-github fa-5x" aria-hidden="true" style = "color: white;"></i>
          </a>
        </div>
      </div>
    </div>
  </section>
  <div class="container wrapper text-center" id="onSite">
    <div class="row">
      <div class="col-12">
        <h1>Featured Open Source Projects</h1>
        <hr class="star-primary" />
        <br/>
      </div>
      
      <div class="col-lg-4" style="margin-bottom: 30px;">
        <div class="card" style="background-color: #f8f9fa">
          <div class="card-body">
            <h2 class="card-title">polished</h2>
            <p class="card-text">
               Adds authentication and user administration to Shiny
            </p>
          
            <div class="row">
              <div class="col-6">
                <a 
                  class="btn btn-lg btn-outline-green"
                  href="https://polished.tech"
                  target="_blank"
                  style="width: 100%">
                  <i 
                    class="fa fa-rocket"
                    style="margin-right: 10px">
                  </i>
                  Website
                </a>
              </div>
              <div class="col-6">
                <a 
                  class="btn btn-lg btn-outline-green"
                  style="width: 100%"
                  href="https://github.com/Tychobra/polished"                
                  target="_blank">
                  <i 
                    class="fa fa-code"
                    style="margin-right: 10px">
                  </i>
                  Code
                </a>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <div class="col-lg-4" style="margin-bottom: 30px;">
        <div class="card" style="background-color: #f8f9fa">
          <div class="card-body">
            <h2 class="card-title">shinyFeedback</h2>
            <p class="card-text">
               Display User Feedback in Shiny Apps
            </p>
          
            <div class="row">
              <div class="col-6">
                <a 
                  class="btn btn-lg btn-outline-green"
                  href="https://merlinoa.github.io/shinyFeedback/"
                  target="_blank"
                  style="width: 100%">
                  <i 
                    class="fa fa-rocket"
                    style="margin-right: 10px">
                  </i>
                  Website
                </a>
              </div>
              <div class="col-6">
                <a 
                  class="btn btn-lg btn-outline-green"
                  style="width: 100%"
                  href="https://github.com/merlinoa/shinyFeedback"                
                  target="_blank">
                  <i 
                    class="fa fa-code"
                    style="margin-right: 10px">
                  </i>
                  Code
                </a>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      
      <div class="col-lg-4" style="margin-bottom: 30px;">
        <div class="card" style="background-color: #f8f9fa">
          <div class="card-body">
            <h2 class="card-title">tychobratools</h2>
            <p class="card-text">
               Collection of R functions that we reuse in many projects
            </p>
            <div class="row">
            <div class="col-12">
              <a 
                class="btn btn-lg btn-outline-green"
                style="width: 100%"
                href="https://github.com/Tychobra/tychobratools"                
                target="_blank">
                <i 
                  class="fa fa-code"
                  style="margin-right: 10px">
                </i>
                Code
              </a>
            </div>
          </div>
          </div>
          
          
          
        </div>
      </div>
      <div class="col-lg-4" style="margin-bottom: 30px;">
        <div class="card" style="background-color: #f8f9fa">
          <div class="card-body">
            <h2 class="card-title">Shiny Insurance</h2>
            <p class="card-text">
               Example Shiny apps for Insurance Analytics
            </p>
            
            <div class="row">
              <div class="col-12">
                <a 
                  class="btn btn-lg btn-outline-green"
                  style="width: 100%"
                  href="https://github.com/Tychobra/shiny-insurance-examples"                
                  target="_blank">
                  <i 
                    class="fa fa-code"
                    style="margin-right: 10px">
                  </i>
                  Code
                </a>
              </div>
            </div>
            
          </div>
          
          
          
        </div>
        </div>
        <div class="col-lg-4" style="margin-bottom: 30px;">
        <div class="card" style="background-color: #f8f9fa">
          <div class="card-body">
            <h2 class="card-title">Shiny CRUD</h2>
            <p class="card-text">
               Examples of database functionality in Shiny
            </p>
            
            <div class="row">
              <div class="col-12">
                <a 
                  class="btn btn-lg btn-outline-green"
                  style="width: 100%"
                  href="https://github.com/Tychobra/shiny_crud"                
                  target="_blank">
                  <i 
                    class="fa fa-code"
                    style="margin-right: 10px">
                  </i>
                  Code
                </a>
              </div>
            </div>
            
          </div>
          
          
          
        </div>
        </div>
        <div class="col-lg-4" style="margin-bottom: 30px;">
        <div class="card" style="background-color: #f8f9fa">
          <div class="card-body">
            <h2 class="card-title">t3</h2>
            <p class="card-text">
               Tychobra Time Tracker - a Shiny App for tracking time
            </p>
            <div class="row">
            <div class="col-12">
              <a 
                class="btn btn-lg btn-outline-green"
                style="width: 100%"
                href="https://github.com/Tychobra/t3_demo"                
                target="_blank">
                <i 
                  class="fa fa-code"
                  style="margin-right: 10px">
                </i>
                Code
              </a>
            </div>
          </div>
          </div>
      </div>
      </div>
      
      <div class="col-lg-4" style="margin-bottom: 30px;">
        <div class="card" style="background-color: #f8f9fa">
          <div class="card-body">
            <h2 class="card-title">Polished Payments</h2>
            <p class="card-text">
               Easily add Stripe payments to your Polished Shiny app
            </p>
            <div class="row">
            <div class="col-12">
              <a 
                class="btn btn-lg btn-outline-green"
                style="width: 100%"
                href="https://github.com/Tychobra/polishedpayments"                
                target="_blank">
                <i 
                  class="fa fa-code"
                  style="margin-right: 10px">
                </i>
                Code
              </a>
            </div>
          </div>
          </div>
        </div>
      </div>
      
    </div>    
    <br />
  </div>
</div>
{{ partial "footer.html" . }}
</body>
</html>