{{ partial "header.html" . }}
<div id="pt" style="width: 100%; height: 500px; margin: 30px auto 0;">
  <h1 style="line-height: 1.5; position: absolute; color: #FFF; top: 250px; width: 100%;" class = "text-center"> 
    We build cool stuff with R and Shiny
  </h1>
</div>
<section id="RActuary">
  <div class="container">
    <!--<h3 class="text-center">Our Team</h3>
    <hr class="star-primary" />-->
    <br />
    <div class="row">
      <div class="col-md-4">
        <br/>
        <br/>
        <img  
            class="img-responsive"
            src="https://res.cloudinary.com/dxqnb8xjb/image/upload/v1537787847/headshot_h0uzyz.jpg" 
            alt=""
            style="padding-right: 30px; padding-bottom: 30px; padding-left: 10px; padding-top: 10px"
            width='100%'
          />
      </div>
      <div class="col-md-8">
        <br/>
        <br/>
        <h3>Andy Merlino</h3>
        <br/>
        <p>I am the founder and lead developer at Tychobra.  I started Tychobra to help organizations leverage R and Shiny.  R is the world class tool for data science, and Shiny allows us to build web apps to communicate our R analyses.</p>  
        
        <p>At Tychobra we are focused on delivering results quickly. On a typical Shiny project, we deploy a prototype app within a week.  We then iterate to a final production application.  If you want a hands-on, results-based approach to application development, please consider Tychobra for your next Shiny app.</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <hr/>
    <div class="row">
      <div class="col-12 text-center">
        <h1>Data Analysis Principles</h1>
        <hr class="star-primary" />
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-sm-10 offset-sm-1">
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-header" role="tab" id="headingOne">
                <h5 class="mb-0">
                  <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="collapsed">
                    Data Organization is Essential
                  </a>
                </h5>
              </div>
              <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-body">
                  Data quality it the biggest 
                  bottle neck to a productive analysis. We work to first organize the data, and then we 
                  tweak and improve the models.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="headingTwo">
                <h5 class="mb-0">
                  <a data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" class="collapsed">
                    Always Start Simple
                  </a>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-body">
                  Start simple and get things working. Having a tangible base to iterate from is invaluable for development and communication.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="heading3">
                <h5 class="mb-0">
                  <a data-toggle="collapse" href="#collapse3" aria-expanded="true" aria-controls="collapse3" class="collapsed">
                    Write Code
                  </a>
                </h5>
              </div>
              <div id="collapse3" class="collapse" role="tabpanel" aria-labelledby="heading3">
                <div class="card-body">
                  Spreadsheets are extremely powerful tools for exploratory data analysis, but they are abused
                  by many industries.  Write code for non trivial data analysis.
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-header" role="tab" id="heading4">
                <h5 class="mb-0">
                  <a data-toggle="collapse" href="#collapse4" aria-expanded="true" aria-controls="collapse4" class="collapsed">
                   Eat Your Own Cooking
                  </a>
                </h5>
              </div>
              <div id="collapse4" class="collapse" role="tabpanel" aria-labelledby="heading4" data-parent="#accordion">
                <div class="card-body">
                  We only build things with the tech that we use in house
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="heading5">
                <h5 class="mb-0">
                  <a data-toggle="collapse" href="#collapse5" aria-expanded="true" aria-controls="collapse5" class="collaped">
                   Build for the Web
                  </a>
                </h5>
              </div>
              <div id="collapse5" class="collapse" role="tabpanel" aria-labelledby="heading5" data-parent="#accordion">
                <div class="card-body">
                  The web is the greatest communication platform ever created and the speed of innovation 
                  is extremely exciting.  Nothing else comes close.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="heading6">
                <h5 class="mb-0">
                  <a data-toggle="collapse" href="#collapse6" aria-expanded="true" aria-controls="collapse6" class="collapsed">
                   Just build the thing
                  </a>
                </h5>
              </div>
              <div id="collapse6" class="collapse" role="tabpanel" aria-labelledby="heading6" data-parent="#accordion">
                <div class="card-body">
                  The only way to make something is to actually make it. We build stuff for business, sport, and fun.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
  <hr />
  <div class="row">
    <div class="col-12 text-center">
      <h1>What's With the Name</h1>
      <hr class="star-primary" />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-md-4">
          <img  
            class="img-responsive"
            src="https://res.cloudinary.com/dxqnb8xjb/image/upload/v1497444097/tycho-brahe-box_yxddre.jpg" 
            alt=""
            style="padding-right: 30px; padding-bottom: 30px; padding-left: 10px; padding-top: 10px"
            width='100%'
          />
        </div>
        <div class="col-md-8">
          <p class="pull-md-right">
            Tycho Brahe was a 16th century astronomer who cared about his data.  He had a gold nose (though not in his potrait) and an epic mustache (shown in portrait).  Tycho kept meticulous data records of planetary orbits.  These records led to world changing discoveries. 
          </p>
          <p className="pull-md-right">
            Tycho was able to use his records to make break throughs on the nature of supernovae and comets, but his life's goal was to decipher an accurate model of our solar system (they thought the Sun and planets ordited around the Earth in Tycho's time).  
          </p>
        </div>
      </div>
      <p>
        Tycho unsuccessfully struggled to find the solar system model for most of his life.  While Tycho was struggling with his problem, Johannes Kepler came to apprentice for Tycho.  Kepler was eventually able to use Tycho's data to decode the model of our solar system.*  Before meeting Tycho, Kepler unsuccessfully searched for the laws governing the solar system for many years. Only after getting access to Tycho's data, was he able to come up with his 3 laws of planetary motion.  Kepler gets all the glory for the discovery, but it was Tycho's data that gave Kepler the context to construct the laws and the evidence to support his findings.
      </p>
      <p>
        Unfortunately for Tycho, his solar system model was wrong, but his methods for gathering data and testing hypotheses against the empirical data were the most advanced the world had seen.  The lesson we take from Tycho Brahe is that data is the key.  Track your data and you can throw ideas at it in the future.  You can create models and test them against the data.  As the data continues to flow in you can continuously test and improve your models.
      </p>
      <p>
        There is a whole lot more to Tycho's story.  He was a facinating person in general; he was exciled from Denmark and his nose was chopped off in a sword duel.  If you are interested, I highly recommend Tycho's Wikipedia page and the episode on him and Kepler from the original Cosmos series.
      </p>
      <p>
        * Abbreviated for the sake of this short narative.  <!--If you want to know the actual story watch the video below
      </p>
      <div class="col-lg-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/pDYMF1RGthQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>--></p>
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
</div>
</section>
{{ partial "footer.html" . }}
{{ partial "include_ptjs.html" . }}
</body>
</html>