{{ partial "header.html" . }}
<div id="pt" style="width: 100%; height: 500px; margin: auto 0;">
  <h1 style="line-height: 1.5; position: absolute; color: #FFF; top: 250px; width: 100%;" class = "text-center"> 
    We Build Web Apps with R and Shiny
  </h1>
</div>
<div style="margin-top: 100px; margin-bottom: 100px;">
  <div class="container">
    <h2 class="text-center">Our Team</h2>
    <hr class="star-primary" />
    <br />
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="card" style="width: 210px; margin-bottom: 15px; align: center">
          <img class="card-img-top" src="https://res.cloudinary.com/dxqnb8xjb/image/upload/v1579969839/andy_headshot_cropped_vwfvbz.jpg" alt="Andy Merlino" height="295px"/>
          <div class="card-body text-left">
            <h5>Andy Merlino</h5>
            <p class="card-text profile_pic_card_text">CEO and Lead Developer</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card" style="width: 210px; margin-bottom: 15px; align: center">
          <img class="card-img-top" src="https://res.cloudinary.com/jimsstuff/image/upload/v1609402919/cropped-JAB-Tychobra-Headshot_rd5wls.jpg" alt="Jimmy Briggs" height="295px"/>
          <div class="card-body text-left">
            <h5>Jimmy Briggs</h5>
            <p class="card-text profile_pic_card_text">Chief Data Scientist</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 text-center">
        <div class="card" style="width: 210px; margin-bottom: 15px;">
          <img class="card-img-top" src="https://res.cloudinary.com/dxqnb8xjb/image/upload/v1579969848/pat_cropped_br060n.jpg" alt="Patrick Howard" height="295px"/>
          <div class="card-body text-left">
            <h5>Patrick Howard</h5>
            <p class="card-text profile_pic_card_text">Senior Software Engineer</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card" style="width: 210px; margin-bottom: 15px;">
          <img class="card-img-top" src="https://res.cloudinary.com/dxqnb8xjb/image/upload/v1579969856/nick_cropped_mcpbyj.jpg" alt="Nick Merlino" height="295px"/>
          <div class="card-body">
            <h5>Nick Merlino</h5>
            <p class="card-text profile_pic_card_text">Shiny Developer</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card" style="width: 210px; margin-bottom: 15px;">
          <img class="card-img-top" src="https://res.cloudinary.com/dxqnb8xjb/image/upload/v1580139381/richard_headshot2_q7wwx6.jpg" alt="Andy Merlino" height="295px"/>
          <div class="card-body">
            <h5>Richard Hill</h5>
            <p class="card-text profile_pic_card_text">Software Engineer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!--
    <div class="row">
      <div class="col-md-8">
        <br/>
        <br/>
        <p>Tychobra exists to help organizations leverage R and Shiny.  R is the world class tool for data science, and Shiny allows us to build web apps to communicate our R analyses.</p>  
        
        <p>Delivering results quickly. On a typical Shiny project, we deploy a prototype app within a week.  We then iterate to a final production application.  If you want a hands-on, results-based approach to application development, consider Tychobra for your next Shiny app.</p>
      </div>
    </div>
  </div>
  -->
</div>
<hr/>
<div style="margin-top: 50px; margin-bottom: 100px;">
  <div class="container">
    
    <div class="row">
      <div class="col-12 text-center">
        <h2>Data Analysis Principles</h2>
        <hr class="star-primary" />
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-sm-10 offset-sm-1">
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-header" role="tab" id="headingOne">
                <h5 class="mb-0">
                  <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="collapsed">
                    Data Organization is Essential
                  </a>
                </h5>
              </div>
              <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-body">
                  Data quality is the biggest 
                  bottle neck to a productive analysis. We work to first organize the data, and then we 
                  tweak and improve the models.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="headingTwo">
                <h5 class="mb-0">
                  <a data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" class="collapsed">
                    Always Start Simple
                  </a>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-body">
                  Start simple and get things working. Having a tangible base to iterate from is invaluable for development and communication.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="heading3">
                <h5 class="mb-0">
                  <a data-toggle="collapse" href="#collapse3" aria-expanded="true" aria-controls="collapse3" class="collapsed">
                    Write Code
                  </a>
                </h5>
              </div>
              <div id="collapse3" class="collapse" role="tabpanel" aria-labelledby="heading3">
                <div class="card-body">
                  Spreadsheets are extremely powerful tools for exploratory data analysis, but they are abused
                  by many industries.  Write code for non trivial data analysis.
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-header" role="tab" id="heading4">
                <h5 class="mb-0">
                  <a data-toggle="collapse" href="#collapse4" aria-expanded="true" aria-controls="collapse4" class="collapsed">
                   Eat Your Own Cooking
                  </a>
                </h5>
              </div>
              <div id="collapse4" class="collapse" role="tabpanel" aria-labelledby="heading4" data-parent="#accordion">
                <div class="card-body">
                  We only build things with the tech that we use in house
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="heading5">
                <h5 class="mb-0">
                  <a data-toggle="collapse" href="#collapse5" aria-expanded="true" aria-controls="collapse5" class="collaped">
                   Build for the Web
                  </a>
                </h5>
              </div>
              <div id="collapse5" class="collapse" role="tabpanel" aria-labelledby="heading5" data-parent="#accordion">
                <div class="card-body">
                  The web is the greatest communication platform ever created and the speed of innovation 
                  is extremely exciting.  Nothing else comes close.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="heading6">
                <h5 class="mb-0">
                  <a data-toggle="collapse" href="#collapse6" aria-expanded="true" aria-controls="collapse6" class="collapsed">
                   Just build the thing
                  </a>
                </h5>
              </div>
              <div id="collapse6" class="collapse" role="tabpanel" aria-labelledby="heading6" data-parent="#accordion">
                <div class="card-body">
                  The only way to make something is to actually make it. We build stuff for business, sport, and fun.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr />
<div style="margin-top: 50px; margin-bottom: 100px;">
  <div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h2>What's With the Name?</h2>
      <hr class="star-primary" />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-md-12">
          <span>
          <img  
            class="img-responsive"
            src="https://res.cloudinary.com/dxqnb8xjb/image/upload/v1497444097/tycho-brahe-box_yxddre.jpg" 
            alt=""
            style="padding-right: 20px; padding-bottom: 5px; padding-left: 20px; padding-top: 10px; display: inline; float: right;"
            width='325px'
          />
          </span>
          <p style="margin-top: 10px;">
            Tycho Brahe was a 16th century Danish astronomer who cared about data.  He had a gold nose (though not in his portrait) and an epic mustache (shown in portrait).  Tycho was obsessed with tracking the motion of celestial objects, and he kept meticulous records of his observations. 
          </p>
          <p className="pull-md-right">
            Tycho leveraged the astronomical data he collected to make breakthrough discoveries about supernovae and comets. Despite his scientific successes, Tycho's eyes were always set on a grander discovery; his life goal was to decipher an accurate model of the laws governing our solar system (most people thought the Sun and planets ordited the Earth in Tycho's time).  
          </p>
        </div>
      </div>
      <p>
        Tycho struggled all his life to uncover the laws governing our solar system.  While Tycho struggled on this grand problem, Johannes Kepler came to apprentice for Tycho.  And, to make a long story short, Kepler eventually used Tycho's excellent data to decode the laws governing our solar system.  
      </p>
      <p>
        Before getting access to Tycho's data, Kepler searched for years to uncover the laws of our solar system. Kepler only made his historic discovery after accessing Tycho's data.  Kepler gets all the glory in the history books, but it was Tycho's data that gave Kepler the context to construct the laws and the evidence to support his findings.
      </p>
      <p>
        Tycho's work to gather data and test hypotheses against empirical data changed the world.  Tycho did not decode the laws governing the solar system, but his work and data allowed for Kepler to make his great breakthrough.  The lesson we take from Tycho Brahe is that data is the key.  Track your data and you can throw ideas at it in the future.  You can create models and test them against the data.  As the data continues to flow in, you can continuously test and improve your models.
      </p>
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
</div>
</div>
{{ partial "footer.html" . }}
{{ partial "include_ptjs.html" . }}
</body>
</html>