{{ partial "header.html" . }}
<div id="pt" style="width: 100%; height: 500px; margin: 30px auto 0;">
  <h1 style="line-height: 1.5; position: absolute; color: #FFF; top: 250px; width: 100%;" class = "text-center"> 
    We build cool stuff with R and Shiny
  </h1>
</div>
<section id="RActuary">
  <div class="container">
    <!--<h3 class="text-center">Our Team</h3>
    <hr class="star-primary" />-->
    <br />
    <div class="row">
      <div class="col-md-4">
        <br/>
        <br/>
        <img  
            class="img-responsive"
            src="https://res.cloudinary.com/dxqnb8xjb/image/upload/v1537787847/headshot_h0uzyz.jpg" 
            alt=""
            style="padding-right: 30px; padding-bottom: 30px; padding-left: 10px; padding-top: 10px"
            width='100%'
          />
      </div>
      <div class="col-md-8">
        <h3>Andy Merlino</h3>
        <p>I am the founder and lead developer at Tychobra.  I started Tychobra to help organizations leverage R and Shiny.  R and Shiny are the best tools in existence for monitoring, analyzing, and communicating data driven results.  All organizations can benefit from incorporating R and Shiny in their data analytics tool set.</p>  
        
        <p>At Tychobra we are focused on delivering tangible results as fast as possible.  This is why we love R and Shiny.  For example, on a typical project, we aim to deploy a prototype app within a week of defining the initial project scope.  We then work with the client to iterate to a final application.  The best way to collaborate to develop a clear understanding of what is possible and what works best is to have a tangible app to build upon.  If you want a handson, results based approach to application development, please consider Tychobra for your next Shiny app.</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <hr/>
    <div class="row">
      <div class="col-12 text-center">
        <h1>Data Analysis Principles</h1>
        <hr class="star-primary" />
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-sm-10 offset-sm-1">
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-header" role="tab" id="headingOne">
                <h5 class="mb-0">
                  <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="collapsed">
                    Data Organization is Essential
                  </a>
                </h5>
              </div>
              <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-body">
                  Data quality presents the most substantial 
                  bottle neck to a productive analysis. Once data is properly organized, it is fairly 
                  easy to set up basic predictive models. We work to organize the data and then 
                  tweak and improve the models to gather insights that could never be 
                  achieved by a one off analysis.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="headingTwo">
                <h5 class="mb-0">
                  <a data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" class="collapsed">
                    Always Start Simple
                  </a>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-body">
                  The most important predictive model is the one that can be quickly run to produce
                  a meaningful result.  Working from a solid base, we fine tune our models to build familiarity with the 
                  problem.  We start simple and iterate on all predictive modeling, user interface 
                  design, and all general business models.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="heading3">
                <h5 class="mb-0">
                  <a data-toggle="collapse" href="#collapse3" aria-expanded="true" aria-controls="collapse3" class="collapsed">
                    Write Code
                  </a>
                </h5>
              </div>
              <div id="collapse3" class="collapse" role="tabpanel" aria-labelledby="heading3">
                <div class="card-body">
                  Spreadsheets are extremely powerful tools for exploratory data analysis, but they are abused
                  by many industries.  For almost all serious data analysis, a programmed data analysis is a
                  better option than a spreadsheet.
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-header" role="tab" id="heading4">
                <h5 class="mb-0">
                  <a data-toggle="collapse" href="#collapse4" aria-expanded="true" aria-controls="collapse4" class="collapsed">
                   Eat Your Own Cooking
                  </a>
                </h5>
              </div>
              <div id="collapse4" class="collapse" role="tabpanel" aria-labelledby="heading4" data-parent="#accordion">
                <div class="card-body">
                  We only build things that we use
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="heading5">
                <h5 class="mb-0">
                  <a data-toggle="collapse" href="#collapse5" aria-expanded="true" aria-controls="collapse5" class="collaped">
                   Build for the Web
                  </a>
                </h5>
              </div>
              <div id="collapse5" class="collapse" role="tabpanel" aria-labelledby="heading5" data-parent="#accordion">
                <div class="card-body">
                  The web is the greatest communication platform ever created and the speed of innovation 
                  is extremely exciting.  Nothing else comes close.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="heading6">
                <h5 class="mb-0">
                  <a data-toggle="collapse" href="#collapse6" aria-expanded="true" aria-controls="collapse6" class="collapsed">
                   Just build the thing
                  </a>
                </h5>
              </div>
              <div id="collapse6" class="collapse" role="tabpanel" aria-labelledby="heading6" data-parent="#accordion">
                <div class="card-body">
                  The only way to make something is to actually make it. We build stuff for business, sport, and fun.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
  <hr />
  <div class="row">
    <div class="col-12 text-center">
      <h1>What's With the Name</h1>
      <hr class="star-primary" />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-md-4">
          <img  
            class="img-responsive"
            src="https://res.cloudinary.com/dxqnb8xjb/image/upload/v1497444097/tycho-brahe-box_yxddre.jpg" 
            alt=""
            style="padding-right: 30px; padding-bottom: 30px; padding-left: 10px; padding-top: 10px"
            width='100%'
          />
        </div>
        <div class="col-md-8">
          <p class="pull-md-right">
            Tycho Brahe was a 16th century astronomer who cared about his data.  He had a gold nose (though not in his potrait) and an epic mustache (shown in portrait).  Tycho kept meticulous data records of planetary orbits.  These records led to world changing discoveries. 
          </p>
          <p className="pull-md-right">
            Tycho was able to use his orbital records to single handedly make break throughs pertaining to the nature of supernovae and comets, but his life's goal was to decipher an accurate model of our solar system (they thought the Sun and planets ordited around the Earth in Tycho's time).  
          </p>
        </div>
      </div>
      <p>
        Tycho unsuccessfully struggled to find the solar system model for most of his life.  While Tychobra was struggling with this problem, Johannes Kepler came to apprentice for Tycho.  Kepler was eventually able to use Tycho's data to decode the model of our solar system.*  Before meeting Tycho, Kepler unsuccessfully searched for the laws governing the solar system for many years. Only after getting access to Tycho's data, was he able to come up with his 3 laws of planetary motion.  Kepler gets all the glory for the discovery, but it was Tycho's data that gave Kepler the context to construct the laws and the evidence to support his findings.
      </p>
      <p>
        Unfortunately for Tycho, his solar system model was wrong, but his methods for gathering data and testing hypotheses against the empirical data were the most advanced the world had seen.  The lesson we take from Tycho Brahe is that data is the key.  Track your data and you can throw ideas at it in the future.  You can create models and test them against the data.  As the data continues to flow in you can continuously test and improve your models.
      </p>
      <p>
        There is a whole lot more to Tycho's story.  He was a facinating person in general; he was exciled from Denmark and his nose was chopped off in a sword duel.  If you are interested, I highly recommend Tycho's Wikipedia page and this episode from the original Cosmos series:
      </p>
      <p>
        * Abbreviated for the sake of this short narative.  If you want to know the actual story watch the video below
      </p>
      <div class="col-lg-6">
        <iframe src="https://www.youtube.com/embed/UCvBop41TuY?ecver=2" frameborder="0" allowfullscreen width="100%" height="315"></iframe>
      </div>
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
</div>
</section>
{{ partial "footer.html" . }}
{{ partial "include_ptjs.html" . }}
</body>
</html>