{{ partial "header.html" . }}
<div class="container" style="margin-bottom: 40px; margin-top: 100px;">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="row" style="margin-bottom: 20px">
        <div class = "col-12" style="background-color: #f8f9fa">
          <br/>
          <h1><span class="title" >{{ .Title }}</span></h1>
          <br/>
          {{ with .Params.author }}<h4 class="author">{{ . }}</h4>{{ end }}
          {{ if .Params.date }}<h6 class="date">{{ .Date.Format "2006/01/02" }}</h6>{{ end }}
          <br/>
        </div>
        
        {{ if eq .Params.show_top_image false }}
        {{ else }}
          <div style="margin-top: 20px;width: 100%" >
          <img src="{{ .Params.image }}" width="100%"/>
          </div>
        {{ end }}
      </div>
    </div>
  </div>

  
  <div class="row">
    <div class="col-lg-8 offset-lg-2" style="line-height: 1.6; padding: 5px;">
      {{ .Content }}
      <div class="justify-content-center row pt-5">
        <br/>
        {{ template "_internal/disqus.html" . }}
      </div>
    </div>
    
  
</div>

{{ partial "footer.html" . }}
{{ partial "footer-posts.html" . }}
</body>
</html>