  <footer class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <a style="margin-bottom: 20px"
             class="btn btn-lg btn-outline"
             href="https://calendly.com/tychobra/andy-merlino/08-25-2017">
             Schedule Meeting
          </a>
          <p>contact@tychobra.com</p>
        </div>
        <div class="col-sm-6">
          <h3>Around the Web</h3>
            <ul class="list-inline">
              <li class="list-inline-item">
                <a class="btn-social btn-outline" href="https://www.youtube.com/channel/UC4cF877tXYUa3h3Ou6tcxXA">
                  <i class="fa fa-fw fa-youtube"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-social btn-outline" href="https://twitter.com/tychobraLLC">
                  <i class="fa fa-fw fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-social btn-outline" href="https://github.com/Tychobra">
                  <i class="fa fa-fw fa-github"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <br/>
            <br/>
            {{ .Site.Params.footer | markdownify }}
          </div>
        </div>
      </div>
    </footer>
    {{ template "_internal/google_analytics.html" . }}
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="{{ "/js/nav-active.js" | relURL }}"></script>
    
