<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta name="google-site-verification" content="agjsDt8HXS4yYizS-kj6OnNXvJ-3J-ONvc2vVejs4ZQ" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Site.Title }}</title>
    
    {{ if hasPrefix .URL "/posts" }}
      <!-- CSS for code highlighting -->
      
      {{ if eq .URL "/posts/"}}
        <meta property="og:title" content="{{ .Site.Title }}">
        <meta property="og:type" content="website">
        <meta property="description" content="R/Shiny developers and instructors">
        <meta property="og:description" content="R/Shiny developers and instructors">
      {{ else }}
        <link rel="stylesheet" href="{{ "/css/solarized-light.css" | relURL }}" />
        
        <meta property="og:title" content="{{ .Title }}-{{.Site.Title }}">
        <meta property="og:type" content="article">
        
        {{ $defaultDescription := printf "Article posted by %s, on %s" .Params.author (.Date.Format "Monday, January 2, 2006") }}
        <meta property="description" content="{{ .Description | default $defaultDescription }}">
        <meta property="og:description" content="{{ .Description | default $defaultDescription }}">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:image" content="{{ .Params.image }}" >
      {{ end }}
      
      
    {{ else }}
    
      <meta property="og:title" content="{{ .Site.Title }}">
      <meta property="og:type" content="website">
      <meta property="description" content="R Shiny consulting">
      <meta property="og:description" content="R Shiny consulting">
    {{ end }}
      
    <!-- for SEO - added 2020-11-06 -->
    <script type="application/ld+json">{
      "@context": "http://schema.org",
      "@type": "Corporation",
      "name": "Tychobra",
      "description": "R and Shiny consulting. We are experienced R data scientists and R Shiny web application developers.",
      "url": "https://tychobra.com",
      "logo": "https://tychobra.com/www/tychobra-logo-blue.svg",
      "address": {
        "streetAddress": "1992 Cobblestone Circle NE",
        "addressLocality": "Atlanta",
        "addressRegion": "GA",
        "postalCode": "30319",
        "addressCountry": "USA"
      },
      "telephone": "",
      "faxNumber": "",
      "sameAs" : [
        "",
        "https://twitter.com/tychobraLLC",
        "",
        "",
        "https://www.youtube.com/channel/UC4cF877tXYUa3h3Ou6tcxXA",
        "https://www.linkedin.com/company/tychobra","https://en.wikipedia.org/wiki/tychobra"
      ]
    }</script>
    
    
    <link rel="stylesheet" href="{{ "/css/style_v1.css" | relURL }}" />
    <link rel="icon" href="{{ "/www/tychobra-logo-blue.svg" | relURL }}" />
    
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous" />

    <!-- Font Awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet" />-->

    <link rel="stylesheet" href="{{ "/css/tychobra.css" | relURL }}" />
    
   
  </head>

  <body>
    <nav class="navbar navbar-expand-md fixed-top navbar-light bg-light" id="mainNav">
      <a href="/" class="navbar-brand">
        <img 
          class="img-fluid" 
          src="{{ "/www/tychobra-logo-blue.svg" | relURL }}"
          alt="" 
          width="40px"
          style="padding-bottom: 2px"
        />
        Tychobra
      </a>
      <button
        class="navbar-toggler"
        type="button" data-toggle="collapse"
        data-target="#navbarExample"
        aria-controls="navbarExample"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarExample">
        <ul class="navbar-nav ml-md-auto">
          <li class="nav-item">
            <a href="/shiny" class="nav-link" id ="page-shiny">
              Shiny
            </a>
          </li>
          <!--
          <li class="nav-item">
            <a href="/learn" class="nav-link" id = "page-learn">
              Learn
            </a>
          </li>
          -->
          <!--
          <li class="nav-item">
            <a href="/products" class="nav-link" id = "page-products">
              Products
            </a>
          </li>
          -->
          <li class="nav-item">
            <a href="/about" class="nav-link" id = "page-about">
              About
            </a> 
          </li>
          <li class="nav-item">
            <a href="/oss" class="nav-link" id = "page-oss">
              OSS
            </a> 
          </li>
          <li class="nav-item">
            <a href="/posts" class="nav-link" id = "page-posts">
              Blog
            </a>
          </li>
          <li class="nav-item">
            <a 
              href = "https://track.tychobra.com" 
              class = "btn btn-outline-green"
              style = "padding: 5px; hover:disabled; margin: 5px 0;">
              Sign In
            </a>
          </li>
        </ul>
      </div>
    </nav>

  
