{{ partial "header.html" . }}
<div>
  <section class="success">
    <div class="container" style="margin-top: 90px; margin-bottom: 50px">
      <div class="row">
        <div class="col-sm-7">
          <h2 style="line-height: 1.5">Tychobra Cloud Platform</h2>
          <h4 style="line-height: 1.5">
            Shiny application hosting and collaboration
          </h4>
        </div>
        <div class="col-sm-5">
          <div class="col-sm-12">
            <a
              class="btn btn-lg btn-outline"
              href="https://cloud.tychobra.com/register"
              style="width: 100%">
              Register for Free
            </a>
          </div>
          <div class="col-sm-12">
            <a 
              class="btn btn-lg btn-outline"
              href="https://calendly.com/tychobra/andy-merlino/08-25-2017"
              style="width: 100%">
              Discuss Your First App
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container wrapper text-center">
    <div class="row">
      <div class="col-12">
        <h1>Features</h1>
        <hr class="star-primary" />
        <br />
      </div>
      <br />
      <br />
      <div class="col-lg-4">
        <div class="card" style='height: 325px'>
          <div class="card-body">
            <h4 class="card-title">
              <i class="fa fa-lock fa-3x" aria-hidden="true" style='color: #888888'></i>
              <br />
              <br />
              Secure
            </h4>
            <p class="card-text">
               SSL encryption by default and HIPPA compliant database solutions
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card" style='height: 325px'>
          <div class="card-body">
            <h4 class="card-title">
              <i class="fa fa-expand fa-3x" aria-hidden="true" style='color: #888888'></i>
              <br />
              <br />
              Scalable
            </h4>
            <p class="card-text">
               Automatically handle load balancing and server scaling as your users and data grow 
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card" style='height: 325px'>
          <div class="card-body">
            <h4 class="card-title">
              <i class="fa fa-cloud fa-3x" aria-hidden="true" style='color: #888888'></i>
              <br />
              <br />
              Extensible
            </h4>
            <p class="card-text">
               Easily plug into Google Cloud Platform and Amazon Web Service's ever expanding product 
               offerings
            </p>
          </div>
        </div>
      </div>                    
    </div>
    <br />
  </div>
  <div class="container">
    <hr />
    <br />
    <div class="row">
      <div class="col-12 text-center">
        <h1>Use Cases</h1>
        <hr class="star-primary" />
        <br />
      </div>
      <br />
      <br />
      <div class="col-12">
        <h4>Customized Data Analytics Dashboard</h4>
        <p>Your company wants a customized web interface to monitor business operations and to conduct some simple exploratory data analysis.  You know all the
        questions you want to ask your data, but you do not
        have the in house personel to build web dashboards.  Tychobra can build the
        dashboard to your specifications and handle hosting and server configuration.  As your business
        needs evolve, we will work with your team to tweak and improve the dashboard.  You will have lifetime access
        to the code used to build the dashboard, and your company can choose 
        your level of invlovment in the actual coding process</p>
        <br />
        <h4>Machine Learning</h4>
        <p>Your company wants in on the recent advances in AI and machine learning and you've heard
        R is the state of the art data science platform.  Your company has analysts who work in R,
        but they do not have the web development experience to communicate their R models as interactive
        web applications.  Tychobra will take your models and build
        a Shiny app that allows your team to make decisions based on model output.  As always, 
        your team has lifetome access to the code used to build the Shiny app.</p>
        <br />
        <h4>Plug into GCP and AWS</h4>
        <p>You have some Shiny apps, and you are looking to super charge them with the
        offerings on Google Cloud Platform (GCP) and Amazon Web Services (AWS).  You would like to 
        hit the ground running, but no one at your company has experience working with these cloud providers.
        We will take care of configuring, monitoring, and maintaining your app on either of the
        platforms.  You access your apps through the simple Tychobra Cloud Platform interface.</p>
        <br />
        <h4>Share Shiny app with multiple authentication levels</h4>
        <p>Your company has a few internal Shiny apps that you want to share accross the company and
        with select 3rd parties.  Control who is granted access to your app, and set access permissions
        so the invited user can only use the app ("Viewer" authorization level), the user can use the app and develop application features ("Developer" authorization level), or allow the user to use, develop, and administer the app ("Admin" authorization level).</p>
        <br />
        <br />
    </div>
  </div>
</div>
{{ partial "footer.html" . }}
</body>
</html>