{{ partial "header.html" . }}
<header class="masthead" style='background-image: url("https://res.cloudinary.com/dxqnb8xjb/image/upload/v1518400213/starman_oroujr.png")'>
  <div class="container">
    <img src="https://res.cloudinary.com/dxqnb8xjb/image/upload/v1509563505/tychobra-logo-white_n5av0x.svg" alt="" width="220px"/>
    <!--<div class="col-4">
      <h3 style="text-align: left; padding-top: 100px;">Data analytics using R and Shiny</h3>
    </div>-->
  </div>
</header>

<section id="portfolio">
  <div class="container">
    <h2 class="text-center">Polished</h2>
    <hr class="star-primary" />
    <br />
    <div class="row">
      <div class="col-12">
        <video poster="/images/polished_poster.jpg" controls width="100%" src="/images/polished_video_update.mp4"></video>
      </div>
      <div class="offset-sm-2 col-sm-8 col-12">
        <a 
          class="btn btn-lg btn-outline-green"
          href="https://polished.tech"
          style="width: 100%">
          Learn more at polished.tech
        </a>
      </div>
    </div>
    <br/>
    <br/>
  </div>
  
</section>

<section class="success">
  <div class="container">
    <h2 class="text-center">Services Include</h2>
    <hr class="star-light" />
    <div class="row">
      <div class="col-12" style="padding: 40">
        <div class="row">
          <div class="col-sm-4 text-center">
            <h4 style="line-height: 1.5">R and Shiny development: we will build it for you or with you</h4>
            <br />
            <br />
          </div>
          <div class="col-sm-4 text-center">
            <h4 style="line-height: 1.5">Polished set up and integration with your existing systems</h4>
            <br />
            <br />
          </div>
          <div class="col-sm-4 text-center">
            <h4 style="line-height: 1.5">Managed Shiny app hosting. Https and custom domains included.</h4>
            <br />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-4 col-sm-6">
        <a 
          class="btn btn-lg btn-outline"
          href="mailto:contact@tychobra.com"
          style="width: 100%">
          contact@tychobra.com
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a 
          class="btn btn-lg btn-outline"
          href="https://calendly.com/tychobra/andy-merlino/08-25-2017"
          style="width: 100%">
          Schedule Meeting
        </a>
      </div>     
    </div>
  </div>
</section>

<section id="RActuary">
  <div class="container">
    <h2 class="text-center">Client Spotlight</h2>
    <hr class="star-primary" />
    <br />
    <div class="row">
      <div class="col-md-4 col-sm-6 text-center">
        <div style="width: 100%; height: 150px;">
          <a href="https://alphaarchitect.com/">
            <img style="padding: 0 5px; width: 100%; margin-top: 35px;" src="https://res.cloudinary.com/dxqnb8xjb/image/upload/v1597438370/alpha_architect_logo_y4qxzj.webp" class="avatar-img"/>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 text-center">
        <div style="width: 100%; height: 150px;">
          <a href="http://www.worldbank.org/">
            <img style="padding: 0 15px; margin-top: 40px;" src="https://res.cloudinary.com/dxqnb8xjb/image/upload/v1529279210/world-bank-logo_jptxdr.svg" width = "100%">
          </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 text-center">
        <div style="width: 100%; height: 150px;">
          <a href="http://www.oliverwyman.com/index.html">
            <img style="padding: 0 5px; margin-top: 50px;" src="https://res.cloudinary.com/dxqnb8xjb/image/upload/v1529279814/oliver-wyman-logo_e0xnne.png" />
        </div>
      </div>
      <div class="col-md-4 col-sm-6 text-center">
        <div style="width: 100%; height: 150px">
          <br/>
          <a href="https://sanofi.com" style="margin-top: -15px;">
            <img src="https://www.pmlive.com/__data/assets/image/0008/1387277/Sanofi_640.jpg" width="100%" style="padding: 15px;">
          </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 text-center">
        <div style="width: 100%; height: 150px">
          <br/>
          <a href="https://rhodesriskadvisors.com/">
            <img src="https://res.cloudinary.com/dxqnb8xjb/image/upload/v1543493866/logo-rhodes-risk-advisors_xr6ryg.png" width="90%"/>
          </a>
          <br/>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 text-center">
        <div style="width: 100%; height: 150px">
          <br/>
          <a href="https://www.microbe.com/" style = "margin-top: 5px;">
            <img src="https://res.cloudinary.com/dxqnb8xjb/image/upload/c_scale,w_350/v1543535421/1-mi-logo_wq5lui.jpg" width = "90%">
          </a>
          <br/>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 text-center">
        <div style="width: 100%; height: 150px">
          <br/>
          <a href="https://www.luxactuaries.com/" style = "margin-top: 10px;">
            <img src="https://res.cloudinary.com/dxqnb8xjb/image/upload/v1566668330/logo_rc2emi.png" width = "90%">
          </a>
          <br/>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 text-center">
        <div style="width: 100%; height: 150px">
          <br/>
          <a href="https://www.axionbiosystems.com/" style = "margin-top: -10px;">
            <img src="https://res.cloudinary.com/dxqnb8xjb/image/upload/v1578777878/AxionBioSystemsExtended_stub6i.png" width="90%"/>
          </a>
          <br/>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 text-center">
        <div style="width: 100%; height: 150px">
          <br/>
          <a href="https://www.palmerandcay.com/" style = "margin-top: -10px;">
            <img src="https://res.cloudinary.com/dxqnb8xjb/image/upload/v1578778008/palmerandcay-logo-trans_qxhyzq.png" width = "90%" height = "130">
          </a>
          <br/>
        </div>
      </div>
    </div>
  </div>
</section>
<!--
<section id="RActuary">
  <div class="container">
    <h2 class="text-center">Client Spotlight</h2>
    <hr class="star-primary" />
    <br />
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 text-center">
        <h3>
          Managed Hosting for Shiny Apps
        </h3>
      </div>
      <br/>
      <br/>
      <br/>
    </div>
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-4 col-sm-6">
        <a 
          class="btn btn-lg btn-outline-green"
          href="https://cloud.tychobra.com/register"
          style="width: 100%">
          Register For Free
        </a>
      </div>
    <div class="col-lg-4 col-sm-6">
        <a 
          class="btn btn-lg btn-outline-green"
          href="/products"
          style="width: 100%">
          Learn More
        </a>
      </div>
    </div>
  </div>
</section>
-->
{{ partial "footer.html" . }}
</body>
</html>
