{{ partial "header.html" . }}
<div class="container" style="padding-top: 130px">
  <h1 class="text-center">What is Shiny?</h1>
  <hr class="star-primary" />
  <br />
  <div class="row">
    <div class="col-md-6" style="padding-top: 30">
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/YneLLtGcCus" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-md-6" style="padding: 30">
      <p>
        Shiny brings R to the web with the perfect combination of flexibility and
        simplicity.  Web apps that traditionally would have taken months to build can be
        completed in days.  Typical app features include: 
      </p>
      <ul>
        <li>Filters to drilldown on subsets of data</li>
        <li>Plots, tables, and other output to summarize data</li>
        <li>Customized report generation (HTML or PDF)</li>
        <li>Data entry and management</li>
        <li>Predictive modeling, machine learning, and beyond</li>
      </ul>
    </div>
  </div>
</div>
<br/>
<br/>
<hr/>
<div class="container wrapper">
  <div class="row">
    <div class="col-12 text-center">
      <h1>Example Shiny Apps</h1>
      <hr class="star-primary" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/BJfELAeQrJ0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="col-md-6 text-center" style="padding: 40px">
      <h1>Maestro Z</h1>
      <br />
      <div class="row">
        <div class="col-12">
          <p>
            This app was built for <a href="https://www.axionbiosystems.com/">Axion Biosystems</a> new <a href="https://www.axionbiosystems.com/applications-maestro-z">Maestro Z</a> device for analyzing cell biology.  The app has a mobile first design.  Data is collected via an https API that uploads data from Maestro Z devices distributed across the globe.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6" style="padding-top: 40px">
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/t6e6d7Uq1Wo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="col-md-6 text-center" style="padding: 40px">
      <h1>T3 (Tychobra Time Tracker)</h1>
      <br />
      <div class="row">
        <div class="col-12">
          <p>
            A demo of our internal app for tracking our consulting time by client and project
          </p>
        </div>
        <div class="col-6">
          <a 
            class="btn btn-lg btn-outline-green"
            href="https://github.com/Tychobra/t3_demo/"
            target="_blank"
            style="width: 100%">
            <i 
              class="fa fa-rocket"
              style="margin-right: 10px">
            </i>
            Live App
          </a>
        </div>
        <div class="col-6">
          <a 
            class="btn btn-lg btn-outline-green"
            style="width: 100%"
            href="https://www.tychobra.com/posts/2019-09-04_meet_t3/"                
            target="_blank">
            <i 
              class="fa fa-newspaper-o"
              style="margin-right: 10px">
            </i>
            Post
          </a>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <hr />
  <div class="row">
    <div class="col-md-6" style="padding-top: 40px">
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/3KNlT3evDkc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="col-md-6 text-center" style="padding: 40px">
      <h1>Machine Learning</h1>
      <br />
      <div class="row">
        <div class="col-12">
          <p>
            Predict payment on insurance claims using machine learning and 
            run simulations to capture the variability inherent in real world 
            claims
          </p>
        </div>
        <div class="col-6">
          <a 
            class="btn btn-lg btn-outline-green"
            href="https://tychobra.shinyapps.io/claims-ml/"
            target="_blank"
            style="width: 100%">
            <i 
              class="fa fa-rocket"
              style="margin-right: 10px">
            </i>
            Live App
          </a>
        </div>
        <div class="col-6">
          <a 
            class="btn btn-lg btn-outline-green"
            style="width: 100%"
            href="https://tychobra.com/posts/claims-ml"                
            target="_blank">
            <i 
              class="fa fa-newspaper-o"
              style="margin-right: 10px">
            </i>
            Post
          </a>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <hr />
  <div class="row">
    <div class="col-md-6" style="padding-top: 40px">
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/YneLLtGcCus" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-md-6 text-center" style="padding: 40px">
      <h1>Basic Claims Analytics</h1>
      <br />
      <div class="row">
        <div class="col-12">
          <p>
            View insurance claims at different points in time.  Filter claims by state and          
            claim status.  Analyze frequency,
            severity, and changes in claim values over time.  Download the claims
            for further analysis on your computer.
          </p>
        </div>
        <div class="col-6">
          <a 
            class="btn btn-lg btn-outline-green"
            href="https://tychobra.shinyapps.io/claims-dashboard/"
            target="_blank"
            style="width: 100%">
            <i 
              class="fa fa-rocket"
              style="margin-right: 10px">
            </i>
            Live App
          </a>
        </div>
        <div class="col-6">
          <a 
            class="btn btn-lg btn-outline-green"
            style="width: 100%"
            href="https://github.com/Tychobra/shiny-insurance-examples/tree/master/basic-insurer-dashboard"                
            target="_blank">
            <i 
              class="fa fa-code"
              style="margin-right: 10px">
            </i>
            Code
          </a>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <hr />
  <div class="row">    
    <div class="col-md-6" style="padding-top: 40px">
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/dsCeLWoamgc" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-md-6 text-center" style="padding: 40px">
      <h1>Predictive Modeling</h1>
      <br />
      <div class="row">
        <div class="col-12">
          <p>
            Model that predicts insurance claim status and payments.  
            It includes predicted values and the actual values for comparison.  
            It can be adapted to any line of business and expanded to predict ultimate payments.
          </p>
        </div>
        <div class="col-6">
          <a class="btn btn-lg btn-outline-green"
            href="https://tychobra.shinyapps.io/wc-pm-dashboard/"
            target="_blank"
            style="width: 100%">
            <i 
              class="fa fa-rocket"
              style="margin-right: 10px">
            </i>
            Live App
          </a>
        </div>
        <div class="col-6">
          <a 
            class="btn btn-lg btn-outline-green"
            style="width: 100%"
            href="https://github.com/Tychobra/shiny-examples/tree/master/wc-pm-dashboard"                
            target="_blank">
            <i 
              class="fa fa-code"
              style="margin-right: 10px">
            </i>
            Code
          </a>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <hr />
  <div class="row">
    <div class="col-md-6" style="padding-top: 40px">
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/aiggRsQe8xE" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-md-6 text-center" style="padding: 40px">
      <h1>Frequency Severity Sim</h1>
      <br />
      <div class="row">
        <div class="col-12">
          <p>
            Frequency / severity claims simulations using various probability distributions. The 
            simulations can be used to provide confidence levels for ultimate loss amounts and
            value excess policies at different retention limits.
          </p>
        </div>
        <div class="col-6">
          <a class="btn btn-lg btn-outline-green"
            href="https://tychobra.shinyapps.io/freq-sev-claims-sim/"
            target="_blank"
            style="width: 100%">
            <i 
              class="fa fa-rocket"
              style="margin-right: 10px">
            </i>
            Live App
          </a>
        </div>
        <div class="col-6">
          <a 
            class="btn btn-lg btn-outline-green"
            style="width: 100%"
            href="https://github.com/Tychobra/shiny-insurance-examples/tree/master/freq-sev-claims-sim"                
            target="_blank">
            <i 
              class="fa fa-code"
              style="margin-right: 10px">
            </i>
            Code
          </a>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <hr />
  <div class="row">
    <div class="col-md-6">
      <a href="https://tychobra.shinyapps.io/medicare-map/" target="_blank">
        <img class="img-fluid" src="https://res.cloudinary.com/dxqnb8xjb/image/upload/v1509391608/medicare-map_hwtmil.png" alt="" />
      </a>
    </div>
      <div class="col-md-6 text-center" style="padding: 40px">
      <h1>Medicare Map</h1> 
      <br />
      <div class="row">
        <div class="col-12">
          <p>
            Interactive map for exploring average Medicare claim costs accross the United States
          </p>
        </div>
        <div class="col-6">
          <a 
            class="btn btn-lg btn-outline-green"
            href="https://tychobra.shinyapps.io/medicare-map/"
            target="_blank"
            style="width: 100%">
            <i 
              class="fa fa-rocket"
              style="margin-right: 10px">
            </i>
            Live App
          </a>
        </div>
        <div class="col-6">
          <a 
            class="btn btn-lg btn-outline-green"
            style="width: 100%"
            href="https://github.com/Tychobra/shiny-insurance-examples/tree/master/medicare-map"                
            target="_blank">
            <i 
              class="fa fa-code"
              style="margin-right: 10px">
            </i>
            Code
          </a>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <hr />
  <div class="row">
    <div class="col-md-6">
      <a href="https://tychobra.shinyapps.io/interest-rate-walk/" target="_blank">
        <img class="img-fluid" src="https://res.cloudinary.com/dxqnb8xjb/image/upload/v1511880608/interest-rate-walk_e2ognm.png" alt="" />
      </a>
    </div>
      <div class="col-md-6 text-center" style="padding: 40px">
      <h1>Interest Rate Walk</h1> 
      <br />
      <div class="row">
        <div class="col-12">
          <p>
            Run a Cox-Ingersoll-Ross random walk or a bootstrap resampling of treasury yield changes
          </p>
        </div>
        <div class="col-6">
          <a 
            class="btn btn-lg btn-outline-green"
            href="https://tychobra.shinyapps.io/interest-rate-walk/"
            target="_blank"
            style="width: 100%">
            <i 
              class="fa fa-rocket"
              style="margin-right: 10px">
            </i>
            Live App
          </a>
        </div>
        <div class="col-6">
          <a 
            class="btn btn-lg btn-outline-green"
            style="width: 100%"
            href="https://github.com/Tychobra/shiny-insurance-examples/tree/master/interest-rate-walk"                
            target="_blank">
            <i 
              class="fa fa-code"
              style="margin-right: 10px">
            </i>
            Code
          </a>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <hr />
  <div class="row">
    <div class="col-md-6">
      <a href="https://tychobra.shinyapps.io/bootstrap-claims-simulation/" target="_blank">
        <img class="img-fluid" src="https://res.cloudinary.com/dxqnb8xjb/image/upload/v1499520735/bootstrap-simulation_xt89kp.png" alt="" />
      </a>
    </div>
    <div class="col-md-6 text-center" style="padding: 40px">
      <h1>Bootstrap Simulation</h1> 
      <br />
      <div class="row">
        <div class="col-12">
          <p>
            Simulations bootstrapped from historical claim values after applying trend and development.  
            Results can be used to develop loss picks and compare excess policies.  Download a report 
            when you are finished.
          </p>
        </div>
        <div class="col-6">
          <a 
            class="btn btn-lg btn-outline-green"
            href="https://tychobra.shinyapps.io/bootstrap-claims-simulation/"
            target="_blank"
            style="width: 100%">
            <i 
              class="fa fa-rocket"
              style="margin-right: 10px">
            </i>
            Live App
          </a>
        </div>
        <div class="col-6">
          <a 
            class="btn btn-lg btn-outline-green"
            style="width: 100%"
            href="https://github.com/Tychobra/shiny-insurance-examples/tree/master/bootstrap-claims-sim"                
            target="_blank">
            <i 
              class="fa fa-code"
              style="margin-right: 10px">
            </i>
            Code
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{{ partial "footer.html" . }}
</body>
</html>